// rodar o SASS: node-sass --watch scss/style.scss css/style.css

$width: 100%;
$font-size: 1.2rem;
$background : #000;
$color: #2311;
$border-style: solid 1px #1231;
$font: Open Sans;
$weight: "bold";
$real_round: 2.2;
$real: 2.5;
$blue: 100;
$red: 200;
$green: 120;
$alpha: 0.8;
$amount: 80%;


// import
@import "http://foo.com/bar";

// partials
@import "partials/_variables.scss";
@import "partials/_mixins.scss";
@import "partials/_functions.scss";
@import "partials/_media_queries.scss";
    
h3{
    color: beige;
}


// output SASS: 


//nested(normal): 
//node-sass --output-style nested --watch scss/style.scss css/style.css

//expanded(bom para ler): 
//node-sass --output-style expanded --watch scss/style.scss css/style.

//compact:
//node-sass --output-style compact --watch scss/style.scss css/style.css

//compressed(arquivo de produção):
//node-sass --output-style --watch scss/style.scss css/style.css

//////
h2{
    $font-size:20px;
    $line-height: 30px;
    font: #{$font-size}/#{$line-height};
}

nav{
    width: $width;
    background-color: $background-color;
    ul{
        list-style: none;
        padding: 20px 0;
        
    }
    
    li{
        color: $color;
        margin: 0 20px;
        font:{
            family: 'Segou UI Light';
            weight: bold;
            size: 20px;
        }
    }
    a{
        &:hover{
            color: black;
        }
    }
    h1{
        color: $font-color;
        font-family: $font;
        font-weight: $fontNegrito;
    }
}


p.#{$name}{
    #{$attr}-color: blue;
    
}

.msg{
    border: 1px solid;
    padding: 4px;
    text-align: center;
}
.msg-error{
    @extend .msg;
    border-color: black;
    color: red;
}
.msg-alert{
    @extend .msg;
    border-color: green;
    color: hotpink;
}
a:hover{
    text-decoration: underline;
}
.hoverlink{
    @extend a:hover;
    color:aqua;
}
.error{
    border: 1px yellow;
    background-color: aquamarine;
}
.attention{
    font-size: 3em;
    background-color: brown;
}
.seriousError{
    @extend .error;
    @extend .attention;
    border-width: orange;
    
}